@tailwind base;
@tailwind components;
@tailwind utilities;

$dark : rgb(0, 0, 23);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  color: white;
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden; 
}

.template {
  overflow-x: hidden;
}

.navbar {
  width: 100vw;
  height: 60px;
  background-color: $dark;
  color: blue;
  @extend %flex;
  justify-content: space-around;
  position: fixed;
  box-shadow: 8px 0 10px 5px rgba(0, 0, 255, 0.502);
  top: 0;
  left: 0;
}

.banner-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  .banner {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 20%;
    background-image: linear-gradient(rgb(0, 0, 222),rgb(0, 0, 83));
    // opacity: 0.75;
  }
  .one {
    left: 0;
  }
  .two {
    left: 20%;
  }
  .three {
    left: 40%;
  }
  .four {
    left: 60%;
  }
  .five {
    left: 80%;
  }
}

 


