.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 146);
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 30px;
        font-weight: bolder;
    }
}